@import "helper";
*{margin:0;padding: 0;}
*{box-sizing:border-box;}
*:before {box-sizing:border-box;}
*:after{box-sizing:border-box;}
ul,ol{list-style: none;}
a{text-decoration: none;color: inherit;}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
}
:focus{
  outline: none;
}
.icon{
  width: 1em;
  height: 1em;
}